.container-style {
  height: 100%;
  position: relative;
}

.description {
  width: 600px;
  position: absolute;
  z-index: 999;
  color: aliceblue;
  top: 20%;
  left: 10%;
}

.description h1 {
  font-size: 46;
}

.description p {
  font-size: 22px;
}

.carrousel-boult {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carrousel-boult span {
  width: 45px;
  height: 12px;
  background-color: rgb(179, 178, 176);
  margin-left: 10px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 3px 2px 2px rgba(73,72,72,0.338)
}

.transparent-background{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 998;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, rgba(255,0,0,0),rgb(118, 193, 206));
}